[submodule "CDDA-Schema"]
	path = CDDA-Schema
	url = https://github.com/zwa73/CDDA-Schema.git

[submodule "CDDA-CustomNPC"]
	path = CDDA-CustomNPC
	url = https://github.com/zwa73/CDDA-CustomNPC.git

[submodule "CDDA-Enchantment"]
	path = CDDA-Enchantment
	url = https://github.com/zwa73/CDDA-Enchantment.git
